.channel__content__items__item {
    background: linear-gradient(135deg, #a01d1d 0%, #3a0b0b 100%);
    padding: 20px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    max-width: 1200px;
}

.channel__content__items__item__buttons {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 15px;
}

.channel__content__items__item__title {
    margin-right: 30px;
    max-width: 250px;
    h3 {
        font-size: 24px;
    }
}

.channel__content__items__item__description {
    max-width: 150px;
    p {

    }
}

.channel__content__items__item__link {
    a {
        font-size: 14px;
        padding: 8px 36px;
        background: #a90000;
        border-radius: 10px;
    }
}

.channel__content__items__item__delete {
    margin-right: 20px;
}

.channel__content__items__item__delete:hover {
    button {
        cursor: pointer;
    }
}

.channels__content__items {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.channel__content__items__item__checkbox {
    margin-right: 20px;
    label {
        display: flex;
        align-items: center;
        gap: 10px;
    }
    input {
        width: 20px;
        height: 20px;
    }
}

.channels__content__buttons {
    display: flex;
    gap: 20px;
}

/* контейнер со статусом */
.channel__content__items__item__status {
  display: flex;
  align-items: center;
  gap: 12px;
 
}

/* селект для смены статуса */
.statusSelect {
  padding: 8px 12px;
  font-size: 14px;
  border: 1px solid gray;
  border-radius: 8px;
  background-color: #000000;
  cursor: pointer;
}

/* общий бейдж */
.statusBadge {
  display: inline-block;
  padding: 4px 10px;
  font-size: 12px;
  font-weight: 600;
  color: #fff;
  border-radius: 8px;
  text-transform: uppercase;
}

/* вариации бейджа */
.statusBadge--approved {
  background-color: #28a745; /* зелёный */
}

.statusBadge--pending {
  background-color: #ffc107; /* жёлтый */
  color: #212529;
}

.statusBadge--rejected {
  background-color: #dc3545; /* красный */
}
