.home__content__items {
    display: flex;
    justify-content: center;
}

.home__content__items__dates {
    border: 1px solid #535353;
    padding: 30px 150px 30px 150px;
}

.home__content__items__dates__items__title {
    h2 {
        font-weight: 700;
        font-size: 18px;
        text-align: center;
        margin-bottom: 30px;
    }
}

.home__content__items__channels {
    border: 1px solid #535353;
    width: 100%;
    padding: 30px 50px;
}

.home__content__items__channels__items__title {
    h2 {
        font-weight: 700;
        font-size: 18px;
        text-align: center;
        margin-bottom: 30px;
        
    }
}

.home__content__items__checked_channels {
    border: 1px solid #535353;
    padding: 30px 150px 30px 150px;
}

.home__content__items__checked_channels__items__title {
    h2 {
        font-weight: 700;
        font-size: 18px;
        text-align: center;
        margin-bottom: 30px;
    }
}